@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/regular/montserrat-regular.eot');
    src: url('../fonts/montserrat/regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/regular/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat/regular/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('../fonts/montserrat/montserrat-bold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('../fonts/montserrat/montserrat-semi-bold.ttf');
	font-weight: 800;
}

.txt {
	font-family: 'montserrat', 'arial', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.txt-bold {
	font-family: 'montserrat', 'arial', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.txt-semi-bold {
	font-family: 'montserrat', 'arial', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.txt {
  text: red;
}
